<% provide(:title, 'Careers') %>


<h1>Career</h1>
<!-- Content-->	

		<div id="content">

		<h2>Working together</h2>

		<p>We want to work with people that want to create something utterly new.  There is risk in this as there will be a journey that will include success and failure (we prefer to call it prototyping or design thinking).  There will days of joy and days that you just want it to end.</p>

		<h4>Your nature is likely to be:</h4>

		<ul class="nature">
			<li><span class="greenbold">Curious - </span>You constantly want to learn new methodologies, challenge your own and maybe invent new ones. You will keep up to date with latest.  You are an explorer at heart. You may have opinions but occasionally you will shut up and just listen to others.<br /><br /></li>
			<li><span class="greenbold">Flexible - </span>The world, the techniques, the languages we write will all change, you do not fear change and you need to change.<br /><br /></li>
			<li><span class="greenbold">Creator - </span>You love the process of creation but you know when to stop tinkering and get the job done.  Whilst we use <%= link_to "Agile methodology", "http://en.wikipedia.org/wiki/Agile_software_development" %>, this does not mean you don't get a break between sprints.<br /><br /></li>
			<li><span class="greenbold">Energetic - </span>We have to stay ahead of the competition, but you also know how to and when to recharge.<br /><br /></li>
			<li><span class="greenbold">Details matter - </span>Organized and detailed oriented; but knows how to balance perfection and business requirements.  Is able to quickly adjust to changes and accommodate rapid deployment of projects.<br /><br /></li>
			<li><span class="greenbold">Growing others - </span>You like people and want to help them grow professionally<br /><br /></li>
			<li><span class="greenbold">Collaborator - </span>You like people and have friends. You enjoy working with a team, (maybe occasionally you need to get away and concentrate or recharge, thats cool)<br /><br /></li>
			<li><span class="greenbold">Tenacious - </span>We want to build a platform that will shift several paradigms, this will not be easy or quick. You can do want you agree to, you are not flightily.<br /><br /></li>
			<li><span class="greenbold">Fun - </span>We are doing something very serious, it is important to us both for our hearts and minds. That said we love to smile and laugh especially at ourselves :-) And laughter is best shared with people you want to spend time with.<br /><br /></li>

		</ul>

		<h4>You can live by the following <a href="vision.html#values">values</a>:</h4>

		<ul>
			<li>Growth</li>
			<li>Accountability</li>
			<li>Exploration</li>
			<li>Collaboration</li>
		</ul>

		<h4>You have the following capabilities:</h4>

		<p>Software developer (front end or back end), designer, UX, and/or psychologist</p>

		<p>This sounds like me both nature and capability?  Talk to the founder <%= mail_to "eric@professionalyou.com", "Send email"%></p>


		</div> <!-- End of Content-->