<% provide(:title, 'Home') %>

<!-- Facebook -->
 	<div id="fb-root"></div>
	<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
 		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
	<div id="content">

		<p>Our <%= link_to "intent", why_path %> is to put the <span class="greenbold">Professionals</span> back in charge of their careers. </p>

		<p>We are building an <%= link_to "online platform", products_path %> which will allow <span class="greenbold">Professionals</span> to explore, grow, collaborate and be accountable for their careers and professional relationships.</p>

		<p>It will use personality matching software to match the <span class="greenbold">Professional</span> to their 'ideal' leader, team and organization. This will help the <span class="greenbold">Professional</span> to be happier and more willing to take risks which will, in turn, help the organizations they work for to become both more productive and innovative.</p>

		<p>We believe this platform will not only radically change the way we recruit and manage talent in organizations, but will also empower <span class="greenbold">Professionals</span> to become their very best.<br/></p>

		<p>Unlike other services and systems that try to solve the organisation&apos;s needs first, we have started from the other side of the equation  by prioritizing the needs of the <span class="greenbold">Professional</span>(i.e. <span class="grassbold">You</span>).<br/><br /></p>

		
	</div> <!-- End of Content-->

	<!--Linkedin-->
		
		<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/Share" data-url="http://www.professionalyou.com/index.html" data-counter="right"></script>

		
		<!-- Google + -->
		<g:plusone size="small"></g:plusone>
		<script type="text/javascript">
 		 	window.___gcfg = {lang: 'en-GB'};
			(function() {
   		 	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
   		 	po.src = 'https://apis.google.com/js/plusone.js';
  		  	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 		 }	)();
		</script>
				
		<!-- Twitter-->	
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="The future of career management" data-via="professionalu" data-hashtags="career">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		
		<br />
		<!-- Facebook -->
       <div class="fb-like" data-href="http://www.professionalyou.com/index.html" data-send="true" data-width="450" data-show-faces="true"></div>

 