<% provide(:title, 'Home') %>

<h1>Professional You</h1>
	<div id="content">

		<p>Our <%= link_to "intent", why_path %> is to put the <span class="greenbold">Professionals</span> back in charge of their careers. </p>

		<p>We are building an <%= link_to "online platform", products_path %> which will allow <span class="greenbold">Professionals</span> to explore, grow, collaborate and be accountable for their careers and professional relationships.</p>

		<p>It will use personality matching software to match the <span class="greenbold">Professional</span> to their 'ideal' leader, team and organization. This will help the <span class="greenbold">Professional</span> to be happier and more willing to take risks which will, in turn, help the organizations they work for to become both more productive and innovative.</p>

		<p>We believe this platform will not only radically change the way we recruit and manage talent in organizations, but will also empower <span class="greenbold">Professionals</span> to become their very best.<br/></p>

		<p>Unlike other services and systems that try to solve the organisation&apos;s needs first, we have started from the other side of the equation  by prioritizing the needs of the <span class="greenbold">Professional</span>(i.e. <span class="grassbold">You</span>).<br/><br /></p>

		
	</div> <!-- End of Content-->

	<!-- removed <a href="why.html">intent</a> <a href="product.html">online platform</a> -->
