<% provide(:title, 'Site Index') %>

<!-- Content-->	

		<div id="content">

		<h2>Site map</h2>

			<h4>Part of this website</h4>

			<a href="index.php">Home - The landing page for the website</a> <br />		
			<a href="vision.html">Vision - What have we set out to do includes our vision, mission and values</a> <br />
			<a href="why.html">Why - are we travelling this journey what is important to us.</a> <br />
			<a href="team.html">Team - Who is behind this company?</a> <br />
			<a href="product.html">Product - What product are we offering?</a> <br />
			<a href="services.html">Services - What services do we offer?</a> <br />
			<a href="video.html">Video - Page for videos</a> <br />
			<a href="career.html">Career - You want to work with us as an employee or an intern.</a> <br />
			<a href="investors.html">Investors - Where could I track your progress as an Investor?</a> <br />
			<a href="site.html">Site Index</a> <br />	

			<h4>External website</h4>
			<a href="http://professionalyou.wordpress.com">Blog - Our Wordpress blog</a> <br />
			<a href="https://www.facebook.com/professionalyou/">Social - Our facebook page, come along and like us!</a> <br />
			<a href="http://www.linkedin.com/groups?gid=3902872&amp;trk=hb_side_g">Community - Our private Linkedin community, ask to join</a> <br />
			<a href="http://angel.co/professional-you">Investment - Have a look on AngelList and follow us</a><br />
			<a href="https://twitter.com/#!/professionalu">Twitter - Want to keep really update to with us?</a><br />

		</div> <!-- End of Content-->
