<% provide(:title, 'Investors') %>


<h1>Investors</h1>

	<!-- Content-->	

	<div id="content">

		<div class='angellist_embed' data-startup_id='2774'></div><script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script><script type='text/javascript' src='http://angel.co/professional-you/embed/angellist.js'></script>	
	</div> <!-- End of Content-->