<% provide(:title, 'Products') %>

<!-- Content-->	

		<div id="content">

		<h2>Product in 99 seconds</h2>

		<h4>PAIN</h4>

			<p>Employers often hire for aptitude and fire for attitude. One of the top reasons a professional will leave a job is their direct manager.

			Clearly fit and capability are important.  But it does not matter how good you are if you don&apos;t get on with boss your options are limited.<br /><br />

			Resumes are as old as the printing press yet we still use them as our core data set for recruitment and talent management.

			During our journey we interviewed hundreds of CEOs and HR leaders, they confirmed their DIS-satisfaction with the resume.

		They told us they want a better way to understand what Professionals are ACTUALLY capable of and verify it.

		And from professionals we learnt that they want better ways to be acknowledged and show off the work that they have done.</p>

		<h4>SOLUTION</h4>

		<p>We will replace the resume with a highly visual career portfolio, which will be supported by personality matching software.
			This, we believe will change the way we find a future boss or an employee.<br /><br />

		Professional You is an online career management platform, which will go deeper than just job titles it will look at your work.<br /><br />

		Whilst our matching techniques will start with a person-to-person match, we will extend it to teams and than to organisations.<br /><br />

		Businesses will also be able to use the software to enhance external recruitment AND talent management by revealing hidden capabilities and constructing better teams.</p>

		</div> <!-- End of Content-->
