<% provide(:title, 'Services') %>

<!-- Content-->	

		<div id="content">

		<h2>Services</h2>


		<table id="summary">
			<tr>
				<td><a href="#careercoach">Career Coaching</a></td>
			</tr>
			<tr>
				<td><a href="#personality">Personality Review</a></td>
			</tr>
			<tr>
				<td><a href="#leadercoach">Leadership Coaching/Mentoring</a></td>
			</tr>
			<tr>
				<td><a href="#growth">Professional Growth</a></td>
			</tr>
			<tr>
				<td><a href="#faciltate">Facilitation</a></td>
			</tr>
			<tr>
				<td><a href="#culture">Organisation Culture</a></td>
			</tr>
			<tr>
				<td><a href="#custom">Custom build psychometric systems</a></td>
			</tr>
		</table>

			<h4><a name="careercoach">Career Coaching</a></h4>

			<p>Working with you, we help you reflect and take control of their career.  These are brought together as pack of regular sessions where we review your past and consider your future</p>

			<h4><a name="persoanlity">Personality Review</a></h4>

			<p>Using various psychometric system we look at you from a number of different perspective to improve your own self awareness.  It includes a number of psychometric tests where we explore you so that your self awareness can be increased. An option to make this more accurate is to include a 360 of you both personal and professional.</p>

			<h4><a name="leadercoach">Leadership Coaching/Mentoring</a></h4>

			<p>Help you think through your goals, strategies and tactics.This are usually on-going sessions when we help you review your past decisions and help you with your future decisions.</p>

			<h4><a name="growth">Professional Growth</a></h4>

			<p>Working with you to develop a educational/learning goals, strategy and tactics to keep you ahead of the competition. We get to understand how you learn and then build a plan about what you will learn in the future.</p>

			<h4><a name="faciltate">Facilitation</a></h4>

			<p>Working with your team or external partners to get the very best out of each member e.g. management retreats, coalition creation. One off management retreats on on-going conflict resolution are examples of our work so far.</p>

			<h4><a name="culture">Organisation Culture</a></h4>

			<p>We take a detailled look at your organisations' culture (how people interact and behave to one another), leadership styles, opinions and facts.</p>

			<h4><a name="custom">Custom build psychometric systems</a></h4>

			<p>Working with your company we build a system that establishes if potential employees are a fit to your organization culture.</p>	

		</div> <!-- End of Content-->