<% provide(:title, 'Team') %>

<h1>Team</h1>

<h2>Founder</h2>
			<!-- Eric -->
			<h4><a name="eric" href="http://ca.linkedin.com/in/ericbrooke">Eric Brooke</a></h4>
			<img src="images/ericbrooke.jpg" alt="Photo of Eric Brooke" width="255" height="255"/>

			<p>The founder, Eric Brooke, has worked in private, nonprofit and government sectors with responsibility for budgets upto to &pound;71 million and 400 staff.   He is known for seeing around corners, creating innovative environments, developing strategy and telling a good story.  It was during his time on a leadership team, which merged 7 organizations including 22,000 staff, with &pound;1.15 billion turnover that led him down the path to create Professional You.  Since 2008 he has being interviewing leaders, industrial psychologists, human resource specialists and learning their pains.  Through this knowledge he has being developing an ecology of  product and services that will seriously disrupt and drastically improve the way we all manage our professional lives.</p>

			<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
			<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/ericbrooke" data-format="inline" data-related="false"></script>

			<p class="greenbold">Why are you working for Professional You?</p>

			<p class="quote">&quot;Is the current 2/3 page resume the best we can come up with as a human race? Are we so limited that we need to pigeon hole a professional into job titles that do not even scratch the surface of a professionals capabilities?  How many people trust any written resume either in paper or online?  Yet the vast majority of current systems limit their scope to replicate the same old crap online.  We will NOT cure this by a little evolution, we need a revolution led by the professionals of tomorrow and today, we aim to incite a riot, to challenge convention and in partnership create something really new&quot;</p>





			<h2>Advisors</h2>


			<h4><a name="marc" href="http://www.linkedin.com/pub/marc-maltz/1/40/846">Marc Maltz</a></h4>

				<p><img src="images/marcmaltz.jpg" alt="Photo of Marc Maltz" width="80" height="80" /> Psychologist and organization culture expert.</p>


			<h4><a name="shaji" href="http://ca.linkedin.com/in/shajizaidi">Shaji Zaidi</a></h4>

				<p><img src="images/shajizaidi.jpg" alt="Photo of Shaji Zaidi" width="120" height="80" /> Technology operations expert.</p>


		</div> <!-- End of Content-->
