<% provide(:title, 'Vision') %>


<h1>Vision</h1>

<h2>Our vision</h2>

			<p>We exist to help people reach their professional potential and help organizations discover and grow their professional capability.</p>

		<h2>Our mission</h2>

			<p>To help individuals to:</p>
			<ol>

				<li>Understand and express their professional selves</li>
				<li>Discover and excel at their careers and find professional roles that are suited to them</li>
				<li>Showcase and share their capabilities more effectively</li>
				<li>Encourage their professional growth</li>
				<li>Be recognized for their accomplishments</li>
			</ol>
			<p>To help organizations grow by:</p>
			<ol>
				<li>Improving ability of their managers to discover and retain the right talent</li>
				<li>Hiring the right people for the right job, in the right team, with the right leader and at the right time</li>
				<li>Increasing performance through better understanding of how and where to apply their teams capabilities and work styles</li>
				<li>Better understanding and guiding development of their talent, leaders and culture</li>
				<li>Easily discovering hidden capabilities of their people</li>
			</ol>

		<h2>Values</h2>

		<p>Our values will influence all our choices</p>

		<h4>Growth</h4>
		<p>Life is about learning and understanding. We want to help people in this journey. We want to support depth of understanding.  This means more than just showing the creation but explaining your journey to its creation.</p>

		<h4>Accountability</h4>
		<p>We believe everyone is accountable for their career and its impact on others.  We will encourage honesty and integrity on our platform.  The community will enforce this.</p>

		<h4>Exploration</h4>
		<p>We want to create new knowledge, be curious and help people explore career options.</p>

		<h4>Collaboration</h4>
		<p>We will work in partnership with users and others who wish to help professionals.</p>

		</div> <!-- End of Content-->