<% provide(:title, 'Why') %>

		<!-- Content-->	

		<div id="content">

			<h2>Why?</h2>

			<ol>
				<li><span class="greenbold">We believe in meritocracy </span>&minus; people getting the opportunities because of their skills, abilities, personality, values etc. In theory this exists today &minus; but so often it&apos;s whom you know &minus; and not what you can do. This is particularly true in geographical terms &minus; our choices appear limited, but this should be less and less the case in a global economy. Organisations don&apos;t know of a better way to find people at their disposal than personal recommendations, which count for more than the unreliable, un&minus;trusted resume. So we want to evolve past this, to create a system that facilitates real meritocracy through trusted, validation career information, and that cuts across borders.<br /><br /></li>

				<li><span class="greenbold">We believe a person&acute;s abilities are beyond a list of roles they&apos;ve occupied </span>&minus; it&apos;s not just what you&apos;ve done, but how you did it, the way you did it, who you interacted with along the way, whether you learned, or helped others to learn.  If we can capture these dimensions, we have a much richer dataset on which to base hiring decisions, and for the professionals themselves to become self-aware, to learn what fulfils them, to get acknowledgement for their accomplishments, and to choose their own path.<br /><br /></li>

				<li><span class="greenbold">We all know we work better with certain types of people or combinations of people.</span> I want to make it possible for organisations to find the right fit not just in terms of capabilities but also in terms of personality and cultural fit. Conversely I want to empower the professional to select the right boss and team for them &minus; one that will motivate them and mentor. Organisations themselves and team leaders will be able to construct their own teams. To my mind, infinite diversity leads to infinite possibility: Professional You gives us that wider view. For too long we have tried to separate the emotional and the rational in our professional lives, we know they are intertwined and Professional You will reflect both.<br /><br /></li>

				<li><span class="greenbold">We believe in growth </span>&minus; all of us need to keep, learning, developing and challenging our mindsets throughout our careers. To do this, the first step has to be self-awareness. In visually reflecting back to us our many professional dimensions: careers, projects, capabilities, training and accomplishments, Professional You makes plain our strengths and our areas for growth. It makes us accountable to ourselves, as well as those relying on us to perform; be it our team members, bosses, clients or communities; keeping us on our toes: growing and learning and not falling into stasis.  Organisations themselves become better self-aware and accountable for the quality of their leadership, their culture and development of their staff and teams.<br /><br /></li>

				<li><span class="greenbold">If we help professionals grow, this will help organisations grow.</span> If we expose the many dimensions of our professional lives we can take a step towards genuine meritocracy, empowering both professionals and organisations to make real choices based on richer, more trustworthy data.<br /><br /></li>
			</ol>

			<p>Eric Brooke, Founder</p>


		</div> <!-- End of Content-->