	<div id="footer">
			<p>&copy; Copyright Professional You Inc. 2008-<%= Time.now.year %>. All rights reserved.</p>
			<p>contact <%= mail_to "web@professionalyou.net", "Webmaster" %> <%= image_tag("pytree32.png", alt: "professional you tree") %> <%= link_to "Site Index", index_path %></p>
	</div> <!-- End of footer-->